.navBackdrop{
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 2000;
}

.navLogo{
    width: 132px;
    height: 72px;

    margin-left: 10px;
    margin-top: 15px;
}