.sectionHeader{
    font-family: 'Bebas Neue',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75%;
    color: #FFFFFF;

    text-align: center;
    margin-bottom: 25px;
}