<!DOCTYPE html>
<html>

  <head>
    <title>Ronan Cassidy - About Me</title>

    <meta charset="UTF-8">
    <meta name="author" content="Rónán Cassidy">
    <meta name="description" content="About me page of Portfolio site for Rónán Cassidy">
    <meta name="keywords" content="Programming, Portfolio, About me, information, cv">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../CSS/bulma.css"> 
    <link rel="stylesheet" href="../CSS/ronan.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 

    <script>
        document.addEventListener('DOMContentLoaded', () => {
          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);
  
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
              });
            });
          }
        });
      </script>

  </head>

  <body class=" fontNormal offWhiteBackground">
    <div class="wrapper offWhiteBackground">
    <nav class="navbar is-spaced bebasNeue" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="../index.html">
                <img  src="../Images/rcLogo.png" width="100" height="70" alt="Rónán Cassidy">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarHamburger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarHamburger" class="navbar-menu">
            <div class="navbar-start">
              <a href="../index.html" class="navbar-item">
                Home
              </a>
        
              <a href="blog.html" class="navbar-item">
                Blog
              </a>

              <a href="aboutme.html" class="navbar-item">
                About Me
              </a>

              <!--
              <a href="contactme.html" class="navbar-item">
                Contact Me
              </a>-->
        
              <div class="navbar-item has-dropdown is-hoverable">
                <a href="unityprojects.html" class="navbar-link">
                  Unity
                </a>
        
                <div class="navbar-dropdown">
                  <p class="navbar-item" ><i>Featured Projects</i></p>
                  <a href="unityprojects.html#projectCrescent" class="navbar-item">
                    Project Crescent
                  </a>
        
                  <!--<hr class="navbar-divider">-->
                  <a href="unityprojects.html#mechCommanderVR" class="navbar-item">
                    Mech Commander VR
                  </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a href="csharpprojects.html" class="navbar-link">
                  C#
                </a>
        
                <div class="navbar-dropdown">
                  <p class="navbar-item" ><i>Featured Projects</i></p>
                  <a href="csharpprojects.html#ims" class="navbar-item">
                    Inventory Management System
                  </a>
        
                </div>
              </div>


            </div>
          </div>
      </nav>

      <section class="hero imageBackground bebasNeue ">
        <div class="hero-body">
          <div class="container">
            <h1 class="title fontLarge">
              About Me
            </h1>
            <h2 class="subtitle fontHeroSubtitle has-text-white">
              The programmer behind the screen revealed.
            </h2>
          </div>
        </div>
      </section>

      <section class="section offWhiteBackground">
          <div class="columns">
            <div class="column is-8">
              <div class="box">
                <h2 class="title bebasNeue">Biography</h2>
                <p>My name is Ronan and I am a software and game developer currently based in Galway, Ireland, which means I get to enjoy the many rain showers that grace the county. I've recently graduated from the Institute of Technology Sligo with a Bachelor of Science degree in Computing with a specialisation in Games Development and a GPA of 86.6%. I am returning to complete a BSc Honours degree in Software Development for an additional year and will graduate in the Summer of 2021.</p>
                <br/>
                <p>However, I have not just focused on game development, I have also delved into software development and worked on a variety of projects. Some of the highlights of my experience would be the development of an inventory management system for an engineering company and a virtual reality based real time strategy game developed in Unity.</p>
                <br/>
                <p>My goal is to develop code that is modular, portable and well documented which can be reused in projects to help speed up development and reduce the work required. I have carried out multiple projects using an agile methodology with teams in the past and also acted as a scrum master, most of my experience is with scrum though I have also used kanban.</p>
                <br/>
                <p>I have worked on a variety of projects throughout my college course involving virtual reality, RESTful APIs and many other technologies. I'm currently working on a variety of different projects from native android apps to a Unity game and I am looking for job oppurtunities from the Summer of 2021 onwards as I will have completed an additional higher degree in Software Development in the next year. </p>
              </div>
            </div>
  
            <div class="column is-4">
              <div class="box">
              <h2 class="title bebasNeue">Contact Details</h2>
              <article>
                <ul>
                  <li>Email: ronancassidy.work@gmail.com</li>
                  <li >LinkedIn: <a href="https://www.linkedin.com/in/ronan-cassidy/">Click Here</a></li>
                </ul>
              </article>
              </div>
            </div>
  
  
          </div>

          <div class="columns">
            <div class="column is-4">
              <div class="box">
              <h2 class="title bebasNeue">Technical Skills</h2>
              <article>
                <ul>
                  <li>C#</li>
                  <li>Unity Game Engine</li>
                  <li>ASP.NET Core</li>
                  <li>WPF & XAML</li>
                  <li>Angular</li>
                  <li>NoSQL</li>
                  <li>JSON</li>
                  <li>HTML & CSS</li>
                  <li>SQL</li>
                  <li>Python</li>
                </ul>
              </article>
              </div>
            </div>


            <div class="column is-4">
              <div class="box">
              <h2 class="title bebasNeue">Education:</h2>
              <article>
                <ul>
                  <li><p><strong>BSc Computing in Games Development at IT Sligo</strong></p><p>Graduated 2020; GPA: 86.6%</p><p>NFQ Level 7 Degree</p><br/> </li>
                  <li><p><strong>BSc (Hons) Software Development at IT Sligo</strong></p><p>Graduating 2021</p><p>NFQ Level 8 Degree</p><br/> </li>
                </ul>
              </article>
              </div>
            </div>

            

            <div class="column is-4">
              <div class=" box">
                <h2 class="title bebasNeue">Awards & Certificates:</h2>
                <ul>
                  <li>
                    <p class="bebasNeue">ICS Student Membership <a class="button is-info floatRight  bebasNeue" href="https://certificates.ics.ie/9ba09170-4d47-445e-97b5-3008b9f87422">View Certificate</a></p>
                  </li>
                  <br/>
                  <li>
                    <p class="bebasNeue">Sligo IT Student Mentor <a class="button is-info floatRight  bebasNeue" href="../Images/studentMentorCert.png">View Certificate</a></p>
                  </li>
                  <br class="clear"/>
                </ul>
              </div>
            </div>



  
  
          </div>

        </section>

      
      
      <div class="push background"></div>
    </div>

<footer class="bebasNeue footer fixed-footer background">

  <div class="content background">

    <div class="columns background">

      <div class="column is-one-quarter center">
        <a href="https://www.linkedin.com/in/ronan-cassidy/" class="has-text-white center"><U>LinkedIn</U></a>
      </div>

      <div class="column is-one-quarter center">
        <a href="https://github.com/cassidyRonan" class="has-text-white center"><U>GitHub</U></a>
      </div>

      <div class="column is-one-quarter center">
        <a href="https://www.youtube.com/channel/UCWjbKuN23SvYb1J8IMJzkYA/" class="has-text-white center"><U>YouTube</U> (Coming Soon)</a>
      </div>

      <div class="column is-one-quarter center">
        <a href="mailto:ronancassidy.work@gmail.com" class="has-text-white center"><U>Get In Touch</U></a>
      </div>

    </div>

    
  </div>

</footer>

  </body>
</html>
