<!DOCTYPE html>
<html>

  <head>
    <title>Ronan Cassidy - Contact Me</title>

    <meta charset="UTF-8">
    <meta name="author" content="Rónán Cassidy">
    <meta name="description" content="Contact me page of Portfolio site for Rónán Cassidy">
    <meta name="keywords" content="Contact Me, email, cv">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../CSS/bulma.css"> 
    <link rel="stylesheet" href="../CSS/ronan.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 

    <script>
        document.addEventListener('DOMContentLoaded', () => {
          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);
  
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
              });
            });
          }
        });
      </script>

  </head>

  <body class=" fontNormal offWhiteBackground">
    <div class="wrapper offWhiteBackground">
    <nav class="navbar is-spaced bebasNeue" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="../index.html">
                <img  src="../Images/rcLogo.png" width="100" height="70" alt="Rónán Cassidy">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarHamburger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarHamburger" class="navbar-menu">
            <div class="navbar-start">
              <a href="../index.html" class="navbar-item">
                Home
              </a>
        
              <a href="blog.html" class="navbar-item">
                Blog
              </a>

              <a href="aboutme.html" class="navbar-item">
                About Me
              </a>

              <!--
              <a href="contactme.html" class="navbar-item">
                Contact Me
              </a> -->
        
              <div class="navbar-item has-dropdown is-hoverable">
                <a href="unityprojects.html" class="navbar-link">
                  Unity
                </a>
        
                <div class="navbar-dropdown">
                  <p class="navbar-item" ><i>Featured Projects</i></p>
                  <a href="unityprojects.html#projectCrescent" class="navbar-item">
                    Project Crescent
                  </a>
        
                  <!--<hr class="navbar-divider">-->
                  <a href="unityprojects.html#mechCommanderVR" class="navbar-item">
                    Mech Commander VR
                  </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a href="csharpprojects.html" class="navbar-link">
                  C#
                </a>
        
                <div class="navbar-dropdown">
                  <p class="navbar-item" ><i>Featured Projects</i></p>
                  <a href="csharpprojects.html#ims" class="navbar-item">
                    Inventory Management System
                  </a>
        
                </div>
              </div>


            </div>
          </div>
      </nav>

      <section class="hero imageBackground bebasNeue ">
        <div class="hero-body">
          <div class="container">
            <h1 class="title fontLarge">
              Contact Me
            </h1>
            <h2 class="subtitle fontHeroSubtitle has-text-white">
              Feel free to drop me a message.
            </h2>
          </div>
        </div>
      </section>


      <section class="section offWhiteBackground">
        <div class="columns">
          <div class="column is-8">
            <div class="box">
              <h2 class="title bebasNeue">Email Me</h2>
              <form action="mailto:ronancassidy.work@gmail.com" method="post" enctype="text/plain">
                Name:<br/>
                <input class="input is-rounded" type="text" name="name" required><br/><br/>
                E-Mail:<br/>
                <input class="input is-rounded" type="text" name="mail" required><br/><br/>
                Comment:<br/>
                <input class="input is-rounded" type="text" name="comment" size="50" required><br/><br/>
                <input class="button is-info bebasNeue" type="submit" value="Send">
                <input class="button is-info bebasNeue" type="reset" value="Reset">
                </form>
            </div>
          </div>

          <div class="column is-4">
            <div class="box">
            <h2 class="title bebasNeue">Contact Information</h2>
            <article>
              <ul>
                <li>C#</li>
                <li>Unity Game Engine</li>
                <li>ASP.NET Core</li>
                <li>WPF & XAML</li>
                <li>Angular</li>
                <li>NoSQL</li>
                <li>JSON</li>
                <li>HTML & CSS</li>
              </ul>
              
            </article>
            </div>
          </div>


        </div>
      </section>

      
      <div class="push offWhiteBackground"></div>
    </div>

<footer class="bebasNeue footer fixed-footer background">

  <div class="content background">

    <div class="columns background">

      <div class="column is-one-quarter center">
        <a href="https://www.linkedin.com/in/ronan-cassidy/" class="has-text-white center"><U>LinkedIn</U></a>
      </div>

      <div class="column is-one-quarter center">
        <a href="https://github.com/cassidyRonan" class="has-text-white center"><U>GitHub</U></a>
      </div>

      <div class="column is-one-quarter center">
        <a href="https://www.youtube.com/channel/UCWjbKuN23SvYb1J8IMJzkYA/" class="has-text-white center"><U>YouTube</U> (Coming Soon)</a>
      </div>

      <div class="column is-one-quarter center">
        <a href="mailto:ronancassidy.work@gmail.com" class="has-text-white center"><U>Get In Touch</U></a>
      </div>

    </div>

    
  </div>

</footer>

  </body>
</html>
