.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #00B0FF;
    border: 3px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  

@media screen and (max-width: 700px) {

    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
    left: 15px;
    }
    
    .right {
    left: 0%;
    }
  }

  .timelineNodeImg{
    max-width: 100px;
    max-height: 35px;
  }

  .timelineNodeHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  .timelineNodeDate{
    font-family: 'Barlow',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
  }

  .timelineNodeHeading{
    font-family: 'Barlow',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 5px;
  }

  .timelineNodeBody{
    font-family: 'Barlow',sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
  }