html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #2B2B2B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pageDivider{
  width: 100%;
  height: 150px;
  margin-bottom: -10px;
}

.pageTop{
  padding-top: 100px;
  height: 425px;
  background-color: #FFFFFF;
}

.pageDividerBackground{
  width: 100%;

  margin-top: -10px;
  background-color: #FFFFFF;
}

.pageTopContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin-left: 10px;
  margin-right: 10px;
}

.typed-cursor{
  display: none;
}