html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #2B2B2B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pageDivider{
  width: 100%;
  height: 150px;
  margin-bottom: -10px;
}

.pageTop{
  padding-top: 100px;
  height: 425px;
  background-color: #FFFFFF;
}

.pageDividerBackground{
  width: 100%;

  margin-top: -10px;
  background-color: #FFFFFF;
}

.pageTopContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin-left: 10px;
  margin-right: 10px;
}

.typed-cursor{
  display: none;
}

.flexBoxer{
  display: flex;
  align-content: center;
  justify-content: center;
}

.buttonMail{
  width: 143px;
  height: 56px;

  background: #00B0FF;
  border-radius: 36px;

  font-family: 'Bebas Neue',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 75%;

  /* identical to box height, or 15px */
  border: transparent;

  color: #FFFFFF;
}